/* Reset  de  Pagina*/

*{
  margin: 0;
  padding: 0;
  
}

body{
  background-color: black;
}
.container-principal {
  background-color: #0A5599;
  display: flex;
  justify-content: space-between;
  align-items:center;
  
  
}
.link {
  display: flex;
  justify-content: center;
  align-items:center;
 
}

.link a{
  display: block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white; 
}

.image { 
 
  
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}
.container-imagem {
  width: 95%;
 
  margin: 0 auto;
  padding: 10px;
 
}
 .container-banner {
  
  width: 100%;
  height: 600px;
  
  background-image: url(../images/banner_cs.png);
  display: flex;
  justify-items: flex-end;
  align-items: center;
  border-radius: 10px;
}
.container-patrocionadores{
  padding: 10px;
  
  margin: 0 auto;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-patrocionadores .img-patrocinadores {
  
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  margin-left: 20%;
}
.card {
  
  margin: 10px;
  background-color: black;
  color: white;
}
.atendimento a{
  margin: 40px;

  

  display: block;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white; 
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
